body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 700px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: .5rem;

      .buttons-list {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
      }

      input {
        margin-right: 1rem;
      }
    }
  }

  .add-note-form {
    margin-bottom: 1rem;
  }
}